@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
@import 'tailwindcss';
@import 'tw-animate-css';

@theme {
  --font-sans: 'Inter', ui-sans-serif, system-ui;
}

@layer base {
  body {
    margin: 0;
    height: 100%;
    width: 100%;
    padding: 0;
    scroll-behavior: smooth;
  }

  h1,
  h2,
  h3,
  h4,
  h5 {
    @apply font-sans font-black uppercase tracking-[-0.05em] leading-[0.9];
  }

  p {
    @apply font-sans font-normal uppercase tracking-tight leading-relaxed;
  }

  * {
    box-sizing: border-box;
    scroll-behavior: smooth;
  }
}
